APP_NAME="Banco de Questões e Gerador de Listas"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=single
LOG_LEVEL=debug

FRONTEND_URL=http://localhost:5173

FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=
FIREBASE_DATABASE_URL=
FIREBASE_STORAGE_BUCKET=
FIREBASE_ENABLED=false
FIREBASE_USE_EMULATOR=false
FIRESTORE_EMULATOR_HOST=
